body{
    background-color: black;
}

.flag {
   
    margin: 100px;
    background-color:#FFFFFF;
    width: 300px;
    height: 300px;
}

.A {
    height: 150px;
    width: 150px;
    background-color:#BC002D;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    margin: 75px;

}
h2{
    text-align: center;
    color: white;
}